<div>
  @if (state() === null) {
    <p>Loading Game Data...</p>
  }
  @else {
    <p>{{ state()!.pkmRef.name }}</p>
    <p>{{ state()!.pkmRef.types.type1 }} / {{ state()!.pkmRef.types.type2 }}</p>

    <p>Guesses Made: {{ state()!.stats.guesses }}</p>
    <p>Correct Guesses: {{ state()!.stats.correct }} / Wrong Guesses: {{ state()!.stats.guesses - state()!.stats.correct }} / Ratio: {{ ratio() }}%</p>
    <p>Score: {{ state()!.stats.score }}</p>
    <p>Potential Score: {{ state()!.stats.potential }} / Score Loss : {{ state()!.stats.max - state()!.stats.potential }}</p>

    <p>Lives Left: {{ state()!.lives }}!</p>

    @if (state()!.isDone) {
      <p>Game is Over!</p>
      @if (state()!.isWin) {
        <p>You Win!</p>
      }
      @else {
        <p>You Lose!</p>
      }
      <button type="button" (click)="onClickNewGame()">New Game</button>
    }
    @else {
      <input type="text" placeholder="Guess a Move..." [value]="guessTentative()" (change)="onChangeGuess(GuessInput.value)" #GuessInput/>
      <button type="button" (click)="onClickGuess()">Guess!</button>

      @if (guess() != "") {
        <p>You guessed {{ guess() }}. {{ guessResult() }}</p>
      }
    }

    <p>Wrong Guesses:</p>
    @for (guess of state()!.wrongGuesses; track $index) {
      <p>{{guess}}</p>
    }

    <table>
      <thead>
        <tr>
          <td>Lvl</td>
          <td>Name</td>
          <td>Pow</td>
          <td>Acc</td>
          <td>PP</td>
          <td>Class</td>
          <td>Type</td>
          <td>Flavor</td>
          <td>Pts</td>
        </tr>
      </thead>
      <tbody>
        @for (move of state()!.moves; track $index) {
        <tr>
          <td>{{ move.moveRef.levelLearned }}</td>
          @if (move.isAnswered) {
          <td>{{ move.moveRef.name }}</td>
          }
          @else {
          <td>*** GUESS ***</td>
          }

          <td>{{ move.moveRef.power }}</td>
          <td>{{ move.moveRef.accuracy }}</td>
          <td>{{ move.moveRef.pp }}</td>

          @if (move.damageClassHint.isRevealed) {
          <td>{{ move.damageClassHint.hint }}</td>
          }
          @else {
          <td>
            <button type="button" (click)="onClickRevealHint(move.id, 'damageclass')">REVEAL [-{{ move.moveRef.damageClassHint.scoreCost }}]</button>
          </td>
          
          }
          @if (move.typeHint.isRevealed) {
          <td>{{ move.typeHint.hint }}</td>
          }
          @else {
          <td>
            <button type="button" (click)="onClickRevealHint(move.id, 'type')">REVEAL [-{{ move.moveRef.typeHint.scoreCost }}]</button>
          </td>
          }
          @if (move.flavorTextHint.isRevealed) {
          <td>{{ move.flavorTextHint.hint }}</td>
          }
          @else {
          <td>
            <button type="button" (click)="onClickRevealHint(move.id, 'flavortext')">REVEAL [-{{ move.moveRef.flavorTextHint.scoreCost }}]</button>
          </td>
          }

          <td>{{ move.points > 0 ? '+' : move.points < 0 ? '-' : '' }}{{ move.points }}</td>
        </tr>
        }
      </tbody>
    </table>
  }
  
</div>
